@using Bebidas24hs.DataBase.Data.Entidades
<EditForm Model="Ventas" OnValidSubmit="onValidSubmit">
 <div class="form-group">
        <label>Precio</label>
        <div>
            <InputText class="form-control" @bind-Value="@Ventas.EmpleadoId" />
            <ValidationMessage For="@(() => Ventas.EmpleadoId)" />
        </div>
    </div>
<div class="form-group">
        <label>Codigo</label>
        <div>
            <InputText class="form-control" @bind-Value="@Ventas.TurnoId" />
            <ValidationMessage For="@(() => Ventas.TurnoId)" />
        </div>
    </div>

<button class="btn btn-primary" type="submit">Guardar</button>
<button class="btn btn-secondary" @onclick="onCancel" type="button">Cancelar</button>

</EditForm>    
@code {
    //imput text es un text box. cada vez que dice class aplico boostrap
    //los form group forman un grupo
    //parametro de propiedad de la clase Producto 
    [Parameter] public Venta Ventas{ get; set; } //cargo el objeto de tipo productos
    //parametro public pero de eventos de los button  
    //onvalidSudmit es el metodo que crear me va mandar cuando coloque el grabar nuevo
    [Parameter] public EventCallback onValidSubmit { get; set; }
    [Parameter] public EventCallback onCancel { get; set; } 

//los div son bloques donde utilizo bostrap para diseño
//este formulario no tiene @page es puramente html

}
