@page "/Venta/Create"
@inject NavigationManager navigationManager
@inject IHttpService http

<h3>Crear Venta</h3>


<ProductoFormulario onValidSubmit="GrabarNuevo" Venta="Ventas" onCancel="Cancelar" />




@code {
    private Venta Ventas= new Venta();

    private async Task GrabarNuevo()
    {
        var httpRespuesta = await http.Post<Venta>("Api/[controller]", Ventas);
        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();
        }
        navigationManager.NavigateTo("/Venta");
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/Venta");
    }
}
