@page "/"

<PageTitle>Index</PageTitle>

<h1>¡ WELCOME "La Tirolesa" !</h1>

<img src="https://image.shutterstock.com/image-photo/top-view-bottle-white-wine-600w-2086564906.jpg" width="100px" height="100px"/>
