@page "/Producto/Create"
@inject NavigationManager navigationManager
@inject IHttpService http
<h2>Nuevo Producto</h2>


<strong>No te olvides de cargar todos los datos necesarios </strong>

<ProductoFormulario onValidSubmit="GrabarNuevo" Producto="Productos" onCancel="Cancelar" />

@code {
    //el Productos de arriba del formulario es el mismo que Los datos que se completen en el
    //Formulario, se almacenan en Productos
    private Producto Productos = new Producto();

    private async Task GrabarNuevo()
    {
        var httpRespuesta = await http.Post<Producto>("Api/[controller]", Productos);
        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();
        }
        navigationManager.NavigateTo("/Producto");
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/Producto");
    }
}
