@page "/producto/editar/{Id:int}"
@inject NavigationManager navigationManager
@inject IHttpService http

<h1>producto editar</h1>
<ProductoFormulario onValidSubmit="GrabarModificacion" Producto="producto" onCancel="Cancelar" />

@code { 
    
    private Producto producto;
    [Parameter] public int Id { get; set; }

    protected async override Task OnInitializedAsync()
    {  
        await MostrarProducto();
    }

    private async Task MostrarProducto()
    {
        var httpRespuesta = await http.Get<Producto>($"Api/[controller]/{Id}");
        if (httpRespuesta.Error)
        {
             var body = await httpRespuesta.GetBody();
        }
        else
        {
        producto = httpRespuesta.Respuesta;
        }
    }

    private async Task GrabarModificacion()
    {
           var httpRespuesta = await http.Put<Producto>($"Api/[controller]/{Id}", producto);
           if (httpRespuesta.Error)
           {
                var body = await httpRespuesta.GetBody();
           }
                navigationManager.NavigateTo("/Producto");
    }

    private void Cancelar()
    {
         navigationManager.NavigateTo("/Producto");
    } 
}