@page "/Empleado/Create"
@inject NavigationManager navigationManager
@inject IHttpService http

<h3>Crear Empleado</h3>

<EmpleadoFormulario onValidSubmit="GrabarNuevo" Empleado="empleado" onCancel="Cancelar" />

@code {
    private Empleado Empleados = new Empleado();

    private async Task GrabarNuevo()
    {
        var httpRespuesta = await http.Post<Empleado>("Api/[controller]", Empleados);
        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();
        }
        navigationManager.NavigateTo("/Empleado");
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/Empleado");
    }
}
