@page "/Empleados"
@inject IHttpService http
@inject NavigationManager navigationManager;

<h1>Empleados</h1>


<table>
    <tr>
        <th class="p-3">Id</th>

        <th class="p-3">Name</th>

        <th class="p-3">Pasword</th>
    </tr>
    @if (empleados == null)
    {
        <tr>Cargando.....</tr>
    }
    else if (empleados.Count == 0)
    {
        <tr>No existen empleados</tr>
    }
    else
    {


        @foreach (var item in empleados)
        {
            <tr>
                <td class="p-3">@item.Id</td>
                <td class="p-3">@item.Name</td>
                <td class="p-3">@item.Password</td>
                <td class="p-3">
                        <a class="btn btn-success"
                            href="EmpleadosEditar/@item.Id"> Editar </a>
                    </td>
                <td class="p-3"><button class="btn btn-warning" @onclick="()=>Eliminar(item)">Eliminar</button></td>
            </tr>
        }
    }
</table>

<Confirmacion @ref="confirmacion"
              onConfirm="GrabarEliminar"
              onCancel="Cancelar"
              Titulo="BORRAR"
              textCancelar="Salir"
              textOk="Aceptar">
    <div>¿Desea eliminar el empleado @eliminarEmpleado.Id?</div>
</Confirmacion>


@code {
    public List<Empleado> empleados { get; set; } 
    //public List<Empleado> empleado = new List<Empleado>();

    public Confirmacion confirmacion { get; set; }

    public Empleado eliminarEmpleado { get; set; }


    public class Empleado { /// Borrar
        public int Id { get; set; }
        public string Name { get; set; }
        public string Password { get; set; }
    }



    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        await Leer();
    }

    public async Task Leer()
    {    

        try
        {
            var respuestaHttp = await http.Get<List<Empleado>>("Api/Empleado");
      
            if (!respuestaHttp.Error)
            {
                empleados = respuestaHttp.Respuesta;
            }

        }
        catch (Exception ex)
        {
            
            throw ex;
        }
    }


    private void Eliminar(Empleado empleadoEliminar)
    {
        confirmacion.Mostrar();
        eliminarEmpleado = empleadoEliminar;
    }


    private async Task GrabarEliminar()
        {
            var respuesta = await http.Delete("Api/Empleado/{eliminarEmpleado.Id}");
            if (respuesta.Error)

            {
                var body = await respuesta.GetBody();
            }
            Cancelar();
            await Leer();
        }

    private void Cancelar()
        {
            confirmacion.Ocultar();
            eliminarEmpleado = null;
        }

    private void Nuevo() {
        navigationManager.NavigateTo("/Empleados");
    }

}